{%- capture date_format -%} {{ 'general.date_format.month_day_year' | t }} {%- endcapture -%}
<article class="blog-item">
  {%- if show_image -%}
    <div class="blog-item__image" style="margin-right:8%;">
      <a
        class="blog-item__header"
        href="{{ article.url | escape }}"
        title="{{ article.title | escape }}"
      >
        <img
          src="{{ article.image | img_url: '1700x', crop: 'center' }}"
          alt="{{ article.title }}"
          style="width:1700px; height:auto; object-fit:cover; margin-top:-50%"
          width="100%"
          height="100%"
        >
      </a>
    </div>
  {%- endif -%}

  <div class="blog-item__content">
    {%- for block in blocks -%}
      {%- case block.type -%}
        {%- when 'title' -%}
          <div class="blog-item__title-holder">
            <a href="{{ article.url | escape }}" title="{{ article.title | escape }}">
              <span class="blog-item__title {% if layout contains 'cols-2' %} body-text-hu {% else %} body-text-hd {% endif %}">
                <span class="underline-animation">{{ article.title | escape }}</span>
              </span>
            </a>
          </div>

        {%- when 'summary' -%}
          <div class="blog-item__excerpt">
            {%- if article.excerpt.size > 0 -%}
              {{ article.excerpt }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
            {%- endif -%}
          </div>

        {%- when 'info' -%}
          <div class="blog-item__meta">
            {%- if block.settings.show_author -%}
              <span class="blog-item__author">{{ article.author | escape }}</span>
            {%- endif %}
            {%- if block.settings.show_date -%}
              <span class="blog-item__date">{{ article.published_at | time_tag: date_format }}</span>
            {%- endif -%}
          </div>

        {%- when 'link' -%}
          <div>
            <a class="blog-item__more" href="{{ article.url | escape }}">{{ 'blog.grid.read_more_label' | t }}</a>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</article>
