{{ 'section-sidebar.css' | asset_url | stylesheet_tag }}
<!-- LEFT SIDE BAR -->
<main-sidebar class="sidebar">
  <div class="sidebar__container sidebar__responsive-container sidebar-element sidebar-menus-holder">
    <div class="sidebar__container-holder" style="flex: 1 0 auto;">
      <header class="logo">
        <div class="sidebar-logo">
          {%- if section.settings.logo_src -%}
            <a
              class="logo__image"
              href="{{ routes.root_url }}"
              style="display:block;height:{{ section.settings.logo_width | divided_by: section.settings.logo_src.aspect_ratio }}px"
            >
              <img
                src="{{ section.settings.logo_src | image_url }}"
                alt="{{ shop.name | escape }}"
                style="width: {{ section.settings.logo_width | escape }}px;"
                width="{{ section.settings.logo_src.width }}"
                height="{{ section.settings.logo_src.height }}"
                {% if section.settings.logo_mobile_src != blank %}
                  class="hide-on-big-palm"
                {% endif %}
              >
              {%- if section.settings.logo_mobile_src != blank -%}
                <img
                  src="{{ section.settings.logo_mobile_src | image_url }}"
                  alt="{{ shop.name | escape }}"
                  width="{{ section.settings.logo_mobile_src.width }}"
                  height="{{ section.settings.logo_mobile_src.height }}"
                  class="show-on-big-palm"
                >
              {%- endif -%}
            </a>
          {%- else -%}
            <!-- <a class="logo__text" href="{{ routes.root_url }}">{{ shop.name | escape }}</a> -->
            <a class="logo__text" href="{{ routes.root_url }}">
            <div><?xml version="1.0" encoding="UTF-8"?><svg style="color:black;" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.04 36.85"><defs><style>.cls-1{fill:#231f20;}.cls-1,.cls-2{fill-rule:evenodd;}.cls-2{fill:#ec2227;}</style></defs><path class="cls-2" d="M76.82,19.27v.8H25.17v-.8h51.65Z"/><path class="cls-2" d="M64.6,7.83c-.19,.64-.15,1.27,.18,1.85,.43,.75,1.09,1.14,1.96,1.14,2.32,0,4.63,0,6.95,0,.98,0,1.81,.36,2.44,1.11,.4,.48,.63,1.04,.68,1.66,.05,.68-.04,1.33-.39,1.93-.51,.85-1.25,1.36-2.24,1.5-.2,.03-.4,.04-.6,.04-3.24,0-6.48,0-9.72,0h-.19v-.83h.18c3.31,0,6.62,0,9.94,0,1.07,0,2.02-.83,2.18-1.88,.12-.83-.09-1.55-.71-2.12-.37-.34-.82-.55-1.33-.56-.98-.01-1.96,0-2.95,0-1.42,0-2.83,.02-4.25,0-1.24-.02-2.18-.6-2.75-1.7-.58-1.13-.4-2.62,.5-3.56,.61-.64,1.35-.97,2.24-.98,3.31,0,6.61,0,9.92,0h.16v.82h-.17c-3.25,0-6.51,0-9.76,0-.43,0-.85,.06-1.23,.27-.52,.3-.88,.72-1.06,1.3"/><path class="cls-2" d="M59.88,5.43v.82h-.18c-3.25,0-6.51,0-9.76,0-.56,0-1.07,.12-1.52,.47-.54,.43-.86,.98-.87,1.67-.02,1.91-.0
              2,3.81,0,5.71,0,.98,.75,1.85,1.72,2.07,.22,.05,.45,.06,.68,.06,3.24,0,6.49,0,9.73,0h.19v.83h-.18c-3.3,0-6.59,0-9.89,0-1.28,0-2.46-.81-2.89-2.02-.11-.33-.18-.7-.18-1.05-.02-1.84-.02-3.67,0-5.51,.01-1.29,.64-2.23,1.8-2.8,.39-.19,.81-.27,1.25-.27,3.31,0,6.62,0,9.94,0h.16Z"/><path class="cls-2" d="M29.78,6.25v-.82h.14c3.33,0,6.65-.01,9.98,0,1.27,0,2.18,.64,2.75,1.76,.21,.41,.28,.86,.28,1.32,0,1.82,0,3.64,0,5.47,0,1.2-.55,2.1-1.58,2.7-.45,.27-.96,.39-1.48,.39-3.32,0-6.63,0-9.95,0h-.14v-.83h.17c3.31,0,6.62,0,9.93,0,.99,0,1.9-.7,2.13-1.66,.06-.23,.08-.48,.08-.72,0-1.8,0-3.59,0-5.39,0-1.03-.74-1.94-1.74-2.15-.22-.04-.44-.06-.67-.06-3.25,0-6.5,0-9.74,0h-.18Z"/><path class="cls-2" d="M23.63,19.26v.82h-.16c-4.09,0-8.18,0-12.26,0-1.16,0-2.27-.74-2.73-1.8-.19-.44-.27-.9-.27-1.38,0-3.76,0-7.51,0-11.27v-.2h.83v.17c0,3.76,0,7.51,0,11.27,0,.53,.11,1.03,.43,1.46,.44,.6,1.04,.92,1.79,.93,1.43,.01,2.85,0,4.28,0h8.1Z"/><path class="cls-2" d="M25.97,17.06h-.8V5.44h.8v11.62Z"/><path class="cls-2" d="M48.9
              9,11.65c0-.26,0-.51,0-.75,0-.03,.04-.06,.07-.07,.03-.01,.07,0,.1,0h10.7v.83h-10.88Z"/><path class="cls-1" d="M59.45,25.5v-.41h.18c1.18,0,2.36,0,3.55,0,.21,0,.38-.07,.47-.26,.09-.19,.08-.4-.07-.56-.08-.08-.23-.15-.34-.15-.97-.01-1.93-.02-2.9,0-.82,.02-1.17-.78-.85-1.4,.15-.28,.41-.43,.73-.43,1.27,0,2.54,0,3.81,0,.02,0,.05,0,.08,0v.41h-.18c-1.2,0-2.4,.01-3.6,0-.47,0-.61,.41-.48,.72,.08,.18,.22,.26,.42,.26,.98,0,1.96,0,2.94,0,.42,0,.73,.18,.85,.56,.21,.63-.14,1.26-.81,1.26-1.23,0-2.45,0-3.68,0-.03,0-.07,0-.12,0Z"/><path class="cls-1" d="M68.68,23.7h2.46v1.81h-.14c-1.24,0-2.47,0-3.71,0-.52,0-.89-.37-.89-.89v-1.44c0-.5,.36-.88,.85-.88,1.28,0,2.56,0,3.84,0,0,0,.02,0,.04,0v.41h-.18c-1.2,0-2.4,0-3.61,0-.36,0-.52,.16-.52,.51,0,.47,0,.94,0,1.41,0,.27,.18,.45,.45,.45,1.12,0,2.24,0,3.36,0,.02,0,.04,0,.07,0v-.96c-.05,0-.11,0-.16,0-.57,0-1.14,0-1.71,0-.13,0-.18-.03-.16-.16,0-.08,0-.16,0-.26Z"/><path class="cls-1" d="M19.99,22.31v.41h-.18c-1.2,0-2.4,0-3.6,0-.36,0-.52,.15-.52,.51,0,.45,0,.91,0,1.36
              ,0,.33,.17,.49,.49,.49,1.08,0,2.17,0,3.25,0,.04,0,.08,0,.12,0v-.96h-2.02v-.42h2.44v1.8s-.1,0-.15,0c-1.23,0-2.45,0-3.68,0-.53,0-.89-.36-.89-.89,0-.48,0-.97,0-1.45,0-.51,.35-.87,.86-.87,1.25,0,2.5,0,3.75,0,.03,0,.07,0,.11,0Z"/><path class="cls-2" d="M29.79,7.7h.81v7.09h-.81V7.7Z"/><path class="cls-1" d="M38.44,25.51c-.14,0-.25,0-.36,0-.09,0-.08-.06-.08-.12,0-.26,0-.53,0-.79,0-.72,0-1.44,0-2.15,0-.11,.03-.14,.15-.15,.28-.02,.5,.07,.72,.24,.75,.57,1.52,1.11,2.28,1.66,.38,.28,.76,.56,1.17,.85v-2.73h.43v3.17c-.39,.12-.67-.07-.96-.29-.56-.43-1.14-.84-1.71-1.25-.51-.37-1.02-.74-1.53-1.11-.03-.02-.06-.04-.1-.07v2.74Z"/><path class="cls-1" d="M72.52,22.78v2.55q0,.19-.19,.19h-.23v-3.2c.28-.02,.53-.02,.78,.17,.59,.46,1.22,.89,1.83,1.34,.53,.39,1.06,.77,1.59,1.16,.03,.02,.05,.03,.11,.07v-2.73h.41c0,.06,0,.1,0,.15,0,.96,0,1.92,0,2.89,0,.12-.03,.15-.16,.17-.33,.06-.54-.13-.77-.3-1.09-.79-2.17-1.59-3.26-2.38-.03-.02-.06-.04-.12-.07Z"/><path class="cls-1" d="M48.03,25.5v-.41h.17c1.2,0,2.4,0,3.6,0,.3
              8,0,.54-.15,.54-.54,0-.44,0-.88,0-1.32,0-.35-.16-.51-.51-.51-1.21,0-2.41,0-3.62,0h-.18v-.41c.06,0,.11,0,.17,0,1.23,0,2.45,0,3.68,0,.53,0,.9,.37,.9,.9,0,.47,0,.95,0,1.42,0,.51-.36,.89-.87,.89-1.26,0-2.51,0-3.77,0-.03,0-.07,0-.11-.01Z"/><path class="cls-1" d="M58.42,22.31v.41h-.17c-1.2,0-2.39,0-3.59,0-.38,0-.54,.15-.54,.54,0,.43,0,.87,0,1.3,0,.37,.16,.52,.53,.52,1.2,0,2.39,0,3.59,0h.18v.41c-.06,0-.1,0-.15,0-1.23,0-2.46,0-3.69,0-.52,0-.88-.36-.88-.88v-1.45c0-.5,.34-.87,.84-.88,1.27,0,2.55,0,3.83,0,.01,0,.03,0,.06,.01Z"/><path class="cls-1" d="M25.67,22.3v3.21c-.12,0-.24,0-.35,0-.03,0-.07-.08-.07-.13,0-.38,0-.75,0-1.13v-.12h-3.88v1.38c-.13,0-.24,0-.34,0-.03,0-.08-.07-.08-.12,0-.24,0-.49,0-.73v-2.36c.13,0,.24,0,.35,0,.03,0,.07,.08,.07,.13,0,.36,0,.72,0,1.08v.17h3.88v-.39c0-.29,0-.59,0-.88,0-.08,.02-.12,.11-.11,.1,0,.2,0,.32,0Z"/><path class="cls-1" d="M29.19,22.72v2.78h-.41v-2.78h-2.16v-.41h4.72v.41h-2.15Z"/><path class="cls-1" d="M8.24,22.31h.41v.16c0,.7,0,1.41,0,2.11,0,.36,.16,.52,.52,
              .52,1.18,0,2.35,0,3.53,0h.19c0,.12,0,.23,0,.34,0,.03-.07,.07-.11,.07-.24,0-.49,0-.73,0-.98,0-1.96,0-2.94,0-.5,0-.87-.35-.87-.85,0-.77,0-1.53,0-2.3,0-.01,0-.03,.01-.06Z"/><path class="cls-1" d="M58.42,23.7v.41h-4.04v-.41h4.04Z"/><path class="cls-1" d="M14.33,25.5h-.42v-3.2c.12,0,.23,0,.34,0,.03,0,.08,.07,.08,.12,0,.23,0,.47,0,.7v2.38Z"/><path class="cls-1" d="M65.04,23.91c0-.48,0-.97,0-1.45,0-.11,.02-.16,.15-.16,.29,0,.29,0,.29,.29,0,.92,0,1.84,0,2.77,0,.14-.04,.17-.17,.17-.26,0-.26,0-.26-.26v-1.35Z"/><path class="cls-1" d="M36.64,25.51v-3.2h.41v3.2h-.41Z"/><path class="cls-1" d="M48.45,24.83h-.42v-1.85h.42v1.85Z"/></svg></div>
            </a>
          {%- endif -%}
        </div>
      </header>

      <div class="sidebar__responsive-handles">
        {%- if section.settings.show_search -%}
          <span class="sidebar__search-handle" tabindex="0">
            <span class="icon icon-search" aria-hidden="true">{%- render 'theme-symbols', icon: 'search' -%}</span>
          </span>
        {%- endif -%}

        <a href="{{ routes.cart_url }}" class="sidebar__cart-handle" title="{{ 'cart.title' | t }}">
          <span class="visually-hidden">{{ 'cart.title' | t }}</span>
          <span class="icon icon-cart" aria-hidden="true" style="height: 28px;">
            {%- render 'theme-symbols', icon: 'cart' -%}
          </span>
          <span class="count" aria-hidden="true" data-header-cart-count>{{ cart.item_count }}</span>
        </a>

        <span class="sidebar__menu-handle" tabindex="0">
          <span class="icon icon-menu" aria-hidden="true">{% render 'theme-symbols', icon: 'burger' %}</span>
        </span>
      </div>

      <sidebar-drawer
        style="display:block"
        data-overlay="sidebar"
        class="sidebar__menus {% if section.settings.show_search %} search-bottom-padding {% endif %}"
      >
        <span class="sidebar__menus-close hidden sidebar-close-element" data-js-close tabindex="0">
          <span class="visually-hidden">{{ 'general.accessibility_labels.close' | t }}</span>
          <span aria-hidden="true">{%- render 'theme-symbols', icon: 'close' -%}</span>
        </span>

        <span class="sidebar__menus-back hidden" tabindex="0">
          <span class="visually-hidden">{{ 'general.accessibility_labels.back' | t }}</span>
          <span aria-hidden="true">{% render 'theme-symbols', icon: 'arrow-left' %}</span>
        </span>

        <nav class="lide-primary-menu">
          <ul class="sidebar__menu sidebar-menu-element sidebar--primary">
            {% for link in linklists['header-top-nav'].links %}
              <li class="left-side-primary-menu">
                <a
                  href="{{ link.url }}"
                  title="{{ link.title }}"

                  {% if link.active %}
                    class="selected"
                  {% endif %}
                >
                  <span class="underline-animation">
                    {{- link.title -}}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>

        <div class="eshop-header">
          <h1>E-shop</h1>
        </div>
        <nav class="secondary-menu lides-shop">
          {%- render 'sidebar-navigation', menu: section.settings.menu_secondary, type: 'secondary' -%}
        </nav>
        <div>
          {% if request.locale.iso_code == 'en' %}
            <a href="/en/" class="header__language_en__link lng-bolder" id="{{ request.locale.iso_code }}"> EN </a>
            <a href="/" class="header__language_sk__link" id="{{ request.locale.iso_code }}"> SK </a>
          {% else %}
            <a href="/en/" class="header__language_en__link" id="{{ request.locale.iso_code }}"> EN </a>
            <a href="/" class="header__language_sk__link lng-bolder" id="{{ request.locale.iso_code }}"> SK </a>
          {% endif %}
        </div>
      </sidebar-drawer>

      {%- unless template contains 'cart' -%}
        <sidebar-drawer style="display:none" class="sidebar__cart sidebar-parent-element" data-overlay="cart">
          <div class="sidebar-element">
            <span class="sidebar__cart-close sidebar-close-element" data-js-close tabindex="0">
              <span class="visually-hidden">{{ 'general.accessibility_labels.close' | t }}</span>
              <span aria-hidden="true">{%- render 'theme-symbols', icon: 'close' -%}</span>
            </span>
            <div class="sidebar-content-element">
              {%- render 'cart-form', location: 'sidebar' -%}
              {%- render 'cart-subtotal' -%}
            </div>
          </div>
        </sidebar-drawer>
        <link rel="stylesheet" href="{{ 'component-cart.css' | asset_url }}" media="print" onload="this.media='all';">
      {%- endunless -%}

      <!-- - Search block -->

      {%- if section.settings.show_search -%}
        {{ 'component-search-form.css' | asset_url | stylesheet_tag }}
        <sidebar-drawer
          style="display:none"
          class="sidebar__search sidebar-parent-element predictive-search"
          data-overlay="cart"
        >
          <search-form>
            {%- render 'search-form' -%}
            <span class="sidebar__search-close sidebar-close-element" data-js-close tabindex="0">
              <span class="visually-hidden">{{ 'general.accessibility_labels.close' | t }}</span>
              <span aria-hidden="true">{%- render 'theme-symbols', icon: 'close' -%}</span>
            </span>
            <div class="sidebar__search-container" data-js-search-results data-js-search-results-holder></div>
          </search-form>
        </sidebar-drawer>

        <link
          rel="stylesheet"
          href="{{ 'component-search-item.css' | asset_url }}"
          media="print"
          onload="this.media='all';"
        >
      {%- endif -%}

      <!-- -END  Search block -->

      <!-- END BLOCK -->
    </div>
  </div>

  <div class="sidebar__seconds sidebar-parent-element">
    <div class="sidebar-element"><div class="sidebar__menu"></div></div>
  </div>
  <div class="sidebar__thirds sidebar-parent-element">
    <div class="sidebar-element"><div class="sidebar__menu"></div></div>
  </div>
</main-sidebar>

<script src="{{ 'section-sidebar.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:sections.sidebar.name",
  "class": "mount-sidebar mount-overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_src",
      "label": "t:sections.sidebar.settings.image.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:sections.sidebar.settings.image_width.label",
      "min": 50,
      "max": 250,
      "step": 2,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile_src",
      "label": "t:sections.sidebar.settings.mobile_logo.label",
      "info": "t:sections.sidebar.settings.mobile_logo.info"
    },
    {
      "type": "link_list",
      "id": "menu_primary",
      "label": "t:sections.sidebar.settings.primary_navigation.label",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "menu_secondary",
      "label": "t:sections.sidebar.settings.secondary_navigation.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.language_selector.content",
      "info": "t:sections.footer.settings.language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:sections.footer.settings.language_selector_show.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.country_selector.content",
      "info": "t:sections.footer.settings.country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "t:sections.footer.settings.country_selector_show.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.sidebar.settings.search.content"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "t:sections.sidebar.settings.search.label",
      "default": true
    }
  ]
}
{% endschema %}
